

.box div{
    display: inline-block;
}
.box{
    border-radius: 20px;
    padding: 50px;
    background-color: lightgray !important;
    margin-top: 20vh;
    transition: 1s;
}
.box:hover{
    background-color: white !important;
    transition: 1s;
    border-radius: 20px;
    box-shadow: 10px 10px 8px #888888;
     /* rgb(126, 125, 125); */
}
.controls{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
